<!DOCTYPE html>
<html lang="en">
<head>
  {%- include head.html -%}
</head>
<body>
  <header class="texture-{{ site.texture.style }}">
    <div class="container">
      {%- include nav.html -%}
    </div>
    {%- include post_header.html -%}  
  </header>
  <main>
    <div class="container">
      <div class="post-container">
          {{ content }}
      </div>

        <!-- Configure Disqus -->
      {%- if site.texture.disqus_shortname -%}
        <div id="disqus_thread" style="margin-top:25px"></div>
        <script>
          var disqus_config = function () {
            this.page.url = '{{ page.url | absolute_url }}';
            this.page.identifier = '{{ page.url | absolute_url }}';
          };
          (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://{{ site.texture.disqus_shortname }}.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      {%- endif -%}
    </div>
  </main>
  {%- include footer.html -%}
  {% if page.comments %}
  <h2>Comments</h2>
  <div id="disqus_thread"></div>
  <script>
      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
      */
      let PAGE_URL = "https://jerome132.github.io";
      let PAGE_IDENTIFIER = "https://jerome132.github.io";
      var disqus_config = function () {
          this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      
      (function() {  // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
        
          s.src = 'https://jerome132-1.disqus.com/embed.js';
        
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  {% endif %}
</body>
</html>